<h1>Edit question</h1>

<turbo-frame id="<%= dom_id @question %>">
  <div class="card-title fw-bold">
    Edit question
  </div>
  <%= render "form", question: @question %>
  <%= link_to 'Cancel', questions_path %>
</turbo-frame>