<h1>Questions</h1>

<%= link_to 'Add question', new_question_path, data: { turbo_frame: "new_question" } %>

<%= turbo_frame_tag "new_question", target: "_top" %>

<%= render partial: "question", collection: @questions %>
<% unless @pagy.next.nil? %>
  <%= render partial: "next_page" %>
<% end %>