<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 mt-2">
      <%= button_to 'New Question', new_question_path, data: { turbo_frame: "new_question" }, method: :get, class: 'btn btn-outline-primary shadow-none' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= turbo_frame_tag "new_question" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render @questions %>
      <% unless @pagy.next.nil? %>
        <%= render "next_page" %>
      <% end %>
    </div>
  </div>
</div>