<div class="h2">New Question</div>

<%= turbo_frame_tag @question do %>
  <div class="card my-4 text-dark bg-light shadow-sm">
    <div class="card-body">
      <div class="card-title h5">
        New Question
      </div>
      <%= render "form", question: @question, submit_text: "Create Question" %>
      <%= link_to 'Cancel', questions_path %>
    </div>
  </div>
<% end %>