<% if current_user.viewed?(question) %>
  <div class="text-secondary">
    <i class="bi bi-check-lg"></i> Read question
  </div>
<% else %>
  <div class="text-primary" data-viewer-target="viewer">
    <i class="bi bi-exclamation-lg"></i>Unread question
  </div>
<% end %>