<div class="card-text my-2">
  <span class="answer-container" data-visibility-target="hideable" hidden>
    <div class="fw-bold answer">
      <%= answer.text %>
    </div>
    <div class="explanation">
      <%= answer.explanation %>
    </div>
  </span>
</div>