<button data-action="visibility#toggleAnswerVisibility visibility#toggleAnswerButton visibility#submitQuestionViewer" 
  data-visibility-target="button" 
  data-bs-toggle="button"
  class="btn btn-outline-primary shadow-none answer-button">Show Answer</button>
