<div class="references-container" data-visibility-target="hideable" hidden>
  <%= link_to reference, class: "text-underline-hover text-dark", target: "_top" do %>
    <span class="fw-bold">
      <%= reference.text %>
    </span>
    <%= " - #{reference.name}" if reference.name %>
  <% end %>
</div>

