@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2")
      format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

body {
  padding-top: 70px;
}

.list-group {
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ss-value {
  background: none !important;
  border: 1px solid black;
}

.ss-value-text {
  font-size: 1rem;
  color: black;
  padding-right: 0.3rem;
}

.ss-value-delete {
  color: black;
  margin-left: 1rem;
  font-size: 1rem;
  border-left: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.2rem;
}

.ss-value-delete:hover {
  color: red;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.vote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.vote-container button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.vote-container button:focus {
  outline: none;
}

.vote-container button:hover {
  color: #555;
}

.vote-container span {
  margin: 5px 0;
  font-weight: bold;
}

.invisible-button.upvoted {
  color: $blue;
}

.invisible-button.downvoted {
  color: red;
}

.vote-container button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
